In [1]:
# Import Necessary Libraries
import pandas as pd

In [2]:
# Extraction Layer
ziko_df = pd.read_csv(r'ziko_logistics_data.csv')

In [6]:
ziko_df.columns

Index(['Transaction_ID', 'Date', 'Customer_ID', 'Product_ID', 'Quantity',
       'Unit_Price', 'Total_Cost', 'Discount_Rate', 'Sales_Channel',
       'Order_Priority', 'Warehouse_Code', 'Ship_Mode', 'Delivery_Status',
       'Customer_Satisfaction', 'Item_Returned', 'Return_Reason',
       'Payment_Type', 'Taxable', 'Region', 'Country', 'Customer_Name',
       'Customer_Phone', 'Customer_Email', 'Customer_Address',
       'Product_List_Title'],
      dtype='object')

# Data Cleaning Transformation

In [7]:
ziko_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1005 entries, 0 to 1004
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Transaction_ID         1005 non-null   int64
 1   Date                   1005 non-null   object
 2   Customer_ID            1005 non-null   int64
 3   Product_ID             1005 non-null   int64
 4   Quantity               1005 non-null   int64
 5   Unit_Price             904 non-null    float64
 6   Total_Cost             905 non-null    float64
 7   Discount_Rate          714 non-null    float64
 8   Sales_Channel          1005 non-null   object
 9   Order_Priority         1005 non-null   object
 10  Warehouse_Code         1005 non-null   object
 11  Ship_Mode              1005 non-null   object
 12  Delivery_Status        1005 non-null   object
 13  Customer_Satisfaction  1005 non-null   object
 14  Item_Returned          1005 non-null   bool
 15  Return_Reason          904 non-null    object
 16  Payment_Type           1005 non-null   object
 17  Taxable                1005 non-null   bool
 18  Region                 1005 non-null   object
 19  Country                1005 non-null   object
 20  Customer_Name          1005 non-null   object
 21  Customer_Phone         1005 non-null   object
 22  Customer_Email         1005 non-null   object
 23  Customer_Address       1005 non-null   object
 24  Product_List_Title     1005 non-null   object
dtypes: bool(2), float64(3), int64(4), object(16)
memory usage: 182.7+ KB

In [8]:
# Cleaning up
ziko_df.fillna({
    'Unit_Price' : ziko_df['Unit_Price'].mean(),
    'Total_Cost' : ziko_df['Total_Cost'].mean(),
    'Discount_Rate' : 0.0,
    'Return_Reason': 'Unknown'
}, inplace=True)

In [10]:
# Correct date
ziko_df['Date'] = pd.to_datetime(ziko_df['Date'])

In [13]:
# Customer Table
customer = ziko_df[['Customer_ID', 'Customer_Name', 'Customer_Phone', 'Customer_Email', 'Customer_Address']].copy().drop_duplicates().reset_index(drop=True)

customer.head()

,Customer_ID,Customer_Name,Customer_Phone,Customer_Email,Customer_Address
0,1086,Customer 200,+1-652-572-9306,customer.200.78@example.com,"275 Second St, Phoenix, USA"
1,1078,Customer 321,+1-311-186-5760,customer.321.13@sample.com,"478 Third St, New York, USA"
2,1077,Customer 989,+1-922-606-9032,customer.989.99@example.com,"843 Second St, Phoenix, USA"
3,1027,Customer 682,+1-237-853-5808,customer.682.66@demo.com,"153 Main St, Phoenix, USA"
4,1052,Customer 484,+1-986-360-9109,customer.484.3@sample.com,"264 Second St, New York, USA"

In [15]:
# Product Table
product = ziko_df[['Product_ID', 'Product_List_Title', 'Quantity', 'Unit_Price']].copy().drop_duplicates().reset_index(drop=True)

product.head()

   Product_ID Product_List_Title  Quantity  Unit_Price
0         536         Product 53         3  120.436821
1         523         Product 33         6  475.724994
2         535          Product 6         3  146.400556
3         546         Product 68         6   19.373194
4         556         Product 89         8  193.221313

In [16]:
# Transaction Fact Table

transaction_fact = ziko_df.merge(customer, on=['Customer_ID', 'Customer_Name', 'Customer_Phone', 'Customer_Email', 'Customer_Address'], how='left') \
                            .merge(product, on=['Product_ID', 'Product_List_Title', 'Quantity', 'Unit_Price'], how='left') \
                            [['Transaction_ID','Customer_ID', 'Product_ID', 'Date', 'Total_Cost', 'Discount_Rate', 'Sales_Channel', 'Order_Priority', 'Warehouse_Code', 'Ship_Mode', 'Delivery_Status', 'Customer_Satisfaction', 'Item_Returned', 'Return_Reason', 'Payment_Type', 'Taxable', 'Region', 'Country']]

In [17]:
transaction_fact.head()

,Transaction_ID,Customer_ID,Product_ID,Date,Total_Cost,Discount_Rate,Sales_Channel,Order_Priority,Warehouse_Code,Ship_Mode,Delivery_Status,Customer_Satisfaction,Item_Returned,Return_Reason,Payment_Type,Taxable,Region,Country
0,200,1086,536,2020-01-01 20:32:25.945945945,8265.374549,0.20,Online,High,WH-3,2-Day,Cancelled,Neutral,False,Wrong Item,Wire Transfer,False,West,Canada
1,321,1078,523,2020-01-02 06:55:08.108108108,4047.850479,0.00,Reseller,Critical,WH-1,Overnight,Backorder,Satisfied,True,Damaged,PayPal,True,South,Mexico
2,989,1077,535,2020-01-06 08:12:58.378378378,5096.553818,0.05,Direct,Critical,WH-1,Overnight,Pending,Unsatisfied,True,Damaged,PayPal,True,West,Canada
3,682,1027,546,2020-01-07 22:03:14.594594594,8194.281993,0.00,Reseller,Medium,WH-1,Express,Pending,Unsatisfied,False,Wrong Item,Cash,True,South,Canada
4,484,1052,556,2020-01-07 07:08:06.486486486,8331.329249,0.20,Direct,Low,WH-2,2-Day,Delivered,Satisfied,True,Late,Cash,False,South,Mexico

In [20]:
# temporary loading
customer.to_csv(r'dataset/customer.csv')
product.to_csv(r'dataset/product.csv')
transaction_fact.to_csv(r'dataset/transaction_fact.csv')

In [11]:
ziko_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1005 entries, 0 to 1004
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Transaction_ID         1005 non-null   int64
 1   Date                   1005 non-null   datetime64[ns]
 2   Customer_ID            1005 non-null   int64
 3   Product_ID             1005 non-null   int64
 4   Quantity               1005 non-null   int64
 5   Unit_Price             1005 non-null   float64
 6   Total_Cost             1005 non-null   float64
 7   Discount_Rate          1005 non-null   float64
 8   Sales_Channel          1005 non-null   object
 9   Order_Priority         1005 non-null   object
 10  Warehouse_Code         1005 non-null   object
 11  Ship_Mode              1005 non-null   object
 12  Delivery_Status        1005 non-null   object
 13  Customer_Satisfaction  1005 non-null   object
 14  Item_Returned          1005 non-null   bool
 15  Return_Reason          1005 non-null   object
 16  Payment_Type           1005 non-null   object
 17  Taxable                1005 non-null   bool
 18  Region                 1005 non-null   object
 19  Country                1005 non-null   object
 20  Customer_Name          1005 non-null   object
 21  Customer_Phone         1005 non-null   object
 22  Customer_Email         1005 non-null   object
 23  Customer_Address       1005 non-null   object
 24  Product_List_Title     1005 non-null   object
dtypes: bool(2), datetime64[ns](1), float64(3), int64(4), object(15)
memory usage: 182.7+ KB